$primary-bg: #f8f9fa !important;
$secondary-bg: #FFFFFF;

$primary-bg-text: #000000;
$secondary-bg-text: #000000;

$header-bg: #fff;
$header-text: #000000;

$filter-item-bg: #E3F2FD;
$filter-item-text:  #000000;

$card-title-color: #0f0fc4;
$error-color: red;
