$primary-bg: #f0f0f0;
$secondary-bg: #FFFFFF;

$primary-bg-text: #000000;
$secondary-bg-text: #000000;

$header-bg: #fff;
$header-text: #000000;

$filter-item-bg: #63d963;
$filter-item-text:  #000000;

$card-title-color: #0f0fc4;
$error-color: red;
