.filter-panel {
    background-color: $secondary-bg;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    max-width: 200px;
    min-width: 200px;
  
    .filter-header {
      font-size: 16px;
      font-weight: 600;
      padding: 5px 15px;
      box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
      display: flex;
      justify-content: center;
    }
  }
  
  .filter-card {
    padding: 5px;
    .filters-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5px;
    }
    .filter-sub-header {
      display: flex;
      justify-content: center;
      align-items: center;
      .text {
        font-size: 14px;
        border-bottom: 1px solid $header-bg;
        padding: 5px 30px;
      }
    }
  
    .filter-item {
      background: rgba($filter-item-bg, 0.5);
      color: $filter-item-text;
      padding: 5px 15px;
      border-radius: 3px;
      margin: 5px;
      cursor: pointer; 
      &:hover {
        background: rgba($filter-item-bg, 0.9);
      }
    }
  
    .filter-item.selected {
      background-color: $filter-item-bg;
    }
  }
  