.sm-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: $header-bg;
    height: 60px;
    width: 100%;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important
}